{% extends 'base.html.twig' %}

{% block body %}

    <h2>Start the search for your dream tattoo!
        {% if is_granted('ROLE_USER') == false %}
            <br><a href="{{ path('user_register') }}">Register here</a>
        {% endif %}
            </h2>

{% endblock %}